<!DOCTYPE html>
<html>
<head>
    {% if title %}
        <title>Django Blog - {{  title }}</title> <!--if there is a title we can pass it in here-->
    {% else %}
        <title>Django blog</title> <!--if there it no title it just prints without passing in-->
    {% endif %}
</head>
<body>
    {% for post in posts %} <!--example of how to write code in django | for loop example-->
        <h1>{{ post.title }}</h1> <!--the double { how  to pass in a variable -->
        <p>By {{ post.author }} on {{ post.date_posted }}</p>
        <p>{{ post.content }}</p>
    {% endfor %} <!--must always end a for or if code-->
</body>
</html>